* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: rgb(0, 0, 0);
    --cor-secundaria: #009dff;
}

::selection {
    background-color: var(--cor-principal);
    box-shadow: 0 0 2rem var(--cor-secundaria);
    text-shadow: 0 0 2rem var(--cor-secundaria);
    color: var(--cor-secundaria);
}

body {
    font-family: sans-serif;
}

section {
    padding: 0 10%;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 0.75rem 10%;
    border-bottom: 2px solid var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    text-decoration: none;
}

header select {
    padding: 0.5rem;
    border: 2px solid var(--cor-principal);
    border-radius: 0.5rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    font-size: 1rem;
}

#home {
    height: 100vh;
    background-image: url(./img/walpapers/index/download\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}

#home > *{
    width: 100%;
}

#titulo-home h1{
    font-size: 7.5rem;
}

#titulo-home{
    color: var(--cor-principal);
    text-wrap-mode: nowrap;
    text-shadow: 0 0 1rem var(--cor-secundaria);
}

#home a{
    padding: 0.5rem 2rem;
    background-color: var(--cor-secundaria);
    border-radius: 0.75rem;
    text-decoration: none;
    color: var(--cor-principal);
    box-shadow: 0 0 1rem var(--cor-secundaria);
    font-weight: bolder;
}

#home a:hover{
    background-color: var(--cor-principal);
        box-shadow: 0 0 1rem var(--cor-principal);
    color: var(--cor-secundaria);
}

footer {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 1rem 10%;
    text-align: center;
    border-top: 2px solid var(--cor-secundaria);
}

footer p {
    margin: 0;
}

/* responsivo */
@media (max-width: 768px) {
    header select {
        width: 100%;
    }

    header {
        flex-direction: column;
        gap: 1rem;
    }
}