* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #ff0000;
    --cor-secundaria: #ff00007f;
}

body {
    font-family: sans-serif;
}

section {
    padding: 0 10%;
}
#home {
    height: 100vh;
}

header {
    background-color: white;
    padding: 0.75rem 10%;
    border-bottom: 2px solid var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--cor-principal);
    font-size: 1.5rem;
    text-decoration: none;
}

header select {
    padding: 0.5rem;
    border: 2px solid var(--cor-principal);
    border-radius: 0.5rem;
    background-color: white;
    color: var(--cor-principal);
    font-size: 1rem;
}
/* main */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem 0;
    height: 100%;
}
.grid-item {
    border: 3px solid var(--cor-principal);
    border-radius: 1rem;
    padding: 1rem;
    
}
footer {
    background-color: white;
    padding: 1rem 10%;
    text-align: center;
    border-top: 2px solid var(--cor-principal);
}

footer p {
    margin: 0;
}

/* responsivo */
@media (max-width: 768px) {
    header select {
        width: 100%;
    }

    header {
        flex-direction: column;
        gap: 1rem;
    }
}